@model PraslaBonnerWondwossenFinalProject.Models.BankAccount

@{
    ViewBag.Title = "Create";
}

<script>
    function over5000() {
        var e = document.getElementById("type");
        var text = e.options[e.selectedIndex].text;
        if ('@ViewBag.Age' > 70) {
            alert("A contribution to an IRA account cannot be made as you are above the age requirements")
        }
        if (document.getElementById("depo").value > 5000) {
            if (text == "IRA") {
                alert("You may only contribute $5000 per year to an IRA account.");
            }
            else {
                alert("A Manager Must approve an intitial deposit over $5000. Check your dispute status for updated information about this deposit transaction.");
                $("#form").submit();
            }
            
        }
    }
</script>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Apply for a New Bank Account</h4>
        <p>

        </p>
        <!---TODO: Maybe something fancy here like "Each new customer must apply for a bank acconut-->
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Type, htmlAttributes: new { @class = "form-control", id = "type" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Initial Deposit", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Balance, new { @class = "form-control",id = "depo"})
                @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input onclick="over5000()" value="Apply" class="btn btn-default" />
            </div>
        </div>
    </div>

}
    
