@model PraslaBonnerWondwossenFinalProject.Models.BankAccount

@{
    ViewBag.Title = "Details";
}
<style>
    div.b {
        font-weight: bold;
        left: 0px;
        display: block;
    }

</style>

<h2>Details</h2>


    <h4>BankAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
</dl>
    @using (Html.BeginForm())
    {
        <!--- TODO: Urgently make Prettier-->
     <h2>Search All Transactions:</h2>
    <p class="form-group">
        Search Description: @Html.TextBox("SearchString", null, new { @class = "form-control" }) <br />
        <div class="form-group">
            <div class="b">Transaction Type </div>
            <div class="col-md-10">
                @Html.DropDownList("SelectedType", (SelectList)ViewBag.TransactionTypes, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="b">Transaction Amount Range </div>
                <div class="form-check">
                    <label class="radio-inline">
                        <label class="form-check-label">
                            @Html.RadioButton("SelectedRange", "All", true, new { @class = "form-check-input" }) All
                        </label>
                    </label>
                </div>
                <div class="form-check">
                    <label class="radio-inline">
                        <label class="form-check-label">
                            @Html.RadioButton("SelectedRange", "0-100", true, new { @class = "form-check-input" }) $0-$100
                        </label>
                    </label>
                    </div>
                <div class="form-check">
                    <label class="radio-inline">
                        <label class="form-check-label">
                            @Html.RadioButton("SelectedRange", "100-200", new { @class = "form-check-input" }) $100-$200
                        </label>
                    </label>
                    </div>
                <div class="form-check">
                    <label class="radio-inline">
                        <label class="form-check-label">
                            @Html.RadioButton("SelectedRange", "200-300", new { @class = "form-check-input" }) $200-$300
                        </label>
                    </label>
                </div>
                <div class="form-check">
                    <label class="radio-inline">
                        <label class="form-check-label">
                            @Html.RadioButton("SelectedRange", "300+", new { @class = "form-check-input" }) $300+
                        </label>
                    </label>
            </div>
        </div>
            <!--- TODO: Jquery "Other button Maybe?-->
            <div class="b">Custom Begin to End </div>
            <div class="form-check">
                <div class="col-lg-3">
                    @Html.TextBox("RangeStringBeg", null, new { @class = "form-conrtol" }) <br />
                </div> 
                <div class="col-lg-3">
                    @Html.TextBox("RangeStringEnd", null, new { @class = "form-conrtol" }) <br />
                </div>

            </div>
        <div class="col-lg-1">
            <div class="b">Transaction ID: </div>
        </div>
        <div class="form-check">
            <div class="col-lg-1">
                <label class="form-check-label">
                    @Html.TextBox("TransactionID", null, new { @class = "form-conrtol" }) <br />

                </label>
            </div>
        </div>
                <div class="form-check">
                    <label class="radio-inline">
                        <label class="form-check-label">
                            @Html.RadioButton("Dates", "All", new { @class = "form-check-input" }) All Dates
                        </label>
                    </label>
                </div>
                <label class="radio-inline">
                    <label class="form-check-label">

                        @Html.RadioButton("Dates", "15", true, new { @class = "form-check-input" }) Last 15 Days
                    </label>
                </label>
            <div class="form-check">
                <label class="radio-inline">
                    <label class="form-check-label">
                        @Html.RadioButton("Dates", "30", new { @class = "form-check-input" }) Last 30 Days
                    </label>
                </label>
            </div>
            <div class="form-check">
                <label class="radio-inline">
                    <label class="form-check-label">
                        @Html.RadioButton("Dates", "60", new { @class = "form-check-input" }) Last 60 Days
                    </label>
                </label>
            </div>
            <div class="b">With in Last:  </div>
            <div class="form-check">
                <label class="form-check-label">
                 @Html.TextBox("DateString", null, new { @class = "form-conrtol" }) <br />
                </label>
            </div>
    
            <input type="submit" value="Search" class="btn btn-default" />
   </p>
    }
 
    <p>
        Displaying @ViewBag.Selected out of @ViewBag.All
    </p>


    <h4>Associated Transactions:</h4>
    <table class="table">
        <tr>
            <th>
                Date
            </th>
            <th>
                Type
            </th>
            <th>
                Amount
            </th>
            <th>
                Description
            </th>
            <th>
                To Account
            </th>
            <th>
                From Account
            </th>

        </tr>
        @{int counter = 0; }
        @foreach (var item in ViewBag.Transactions)
        {
            <tr>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.Amount
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @ViewBag.accountInfo[counter].Item1
                </td>
                <td>
                    @ViewBag.accountInfo[counter].Item2
                </td>
            </tr>
            counter++;
        }
        </table>

