@model PraslaBonnerWondwossenFinalProject.Models.BankAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BankAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
</dl>
    <!-- Show Similar transactions-->
    <table class="table">
        <tr>
            <th>
                Date
            </th>
            <th>
                Type
            </th>
            <th>
                Amount
            </th>
            <th>
                Description
            </th>
            <th>
                To Account
            </th>
            <th>
                From Account
            </th>

        </tr>
        <h2> Transactions: </h2>

        @foreach (var item in Model.Transactions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToAccount.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromAccount.Name)
                </td>
            </tr>
        }
</div>
<p>
    @Html.ActionLink("Back", "Index","Customers",null)
</p>
