@model PraslaBonnerWondwossenFinalProject.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Dispute != null)
        {
            if (Model.Dispute.AssignedManager != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Dispute.AssignedManager)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Dispute.AssignedManager.Email)
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.Dispute.CustomerDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Dispute.CustomerDescription)
            </dd>

            if (Model.Dispute.ManagerDescription != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Dispute.ManagerDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Dispute.ManagerDescription)
                </dd>
            }
        }

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
