@model PraslaBonnerWondwossenFinalProject.Models.Transaction
@using PraslaBonnerWondwossenFinalProject.Models
@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Transaction Details</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Dispute != null)
        {
            if (Model.Dispute.AssignedManager != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Dispute.AssignedManager)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Dispute.AssignedManager.Email)
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.Dispute.CustomerDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Dispute.CustomerDescription)
            </dd>

            if (Model.Dispute.ManagerDescription != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Dispute.ManagerDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Dispute.ManagerDescription)
                </dd>
            }
        }

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<h4> Similar Transactions: </h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromAccount)
        </th>
    </tr>
    @foreach (Transaction item in ViewBag.SimilarTransactions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToAccount.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromAccount.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.TransactionID })
            </td>
        </tr>

    }
    </table>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
