@model IEnumerable<PraslaBonnerWondwossenFinalProject.Models.Transaction>
@using PraslaBonnerWondwossenFinalProject.Models;
@{
    ViewBag.Title = "Index";
}

<h2>My Transactions</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromAccount)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToAccount.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromAccount.Name)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.TransactionID })
        </td>
    </tr>
}

</table>
