@model PraslaBonnerWondwossenFinalProject.Models.Transaction

@{
    ViewBag.Title = "Withdraw";
}

<script>
    function validate() {
        //check to see if IRA account
        var e = document.getElementById("AccountName");
        var text = e.options[e.selectedIndex].text;
        if ('@ViewBag.IRANames'.includes(text)) {
            alert("Worked")
        }

        //$("#form").submit();
    }
    
</script>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Enter your Withdrawal</h4>
        <hr />

        <div class="form-group">
            @Html.Label("From Account ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BankAccountID", (SelectList)ViewBag.AccountList, new { @class = "form-control" , id = "AccountName"})
            </div>
        </div>
        <div class="form-group">
            <!---TODO: Make this error message Prettier-->
            <div class="col-md-10">
                @Html.Label((string)ViewBag.Message, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { id = "depo", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" onclick="validate()" value="Withdraw" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Transaction List", "Index")
</div>
