@model  PraslaBonnerWondwossenFinalProject.Models.AppUser


@{
    ViewBag.Title = "My Accounts";
}

<h2>Accounts</h2>

<div>
    <hr />
        
    @if (ViewBag.hasAccounts)
    {
    <table class="table table-bordered">
        <tr>
            <th>
                Account Number
            </th>
            <th>
                Account Name
            </th>
            <th>
                Account Type
            </th>
            <th>
                Balance
            </th>
            <th>
                Actions
            </th>
        </tr>
        @foreach (var item in Model.BankAccounts)
        {
            if (item.Type == PraslaBonnerWondwossenFinalProject.Models.AccountTypes.Stock)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.lastFour)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                    <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                    <td>@Html.ActionLink("Details", "Details", "StockPortfolios", new { }, null) | @Html.ActionLink("Edit Name", "Edit", "BankAccounts", new { id = item.BankAccountID }, null) |  @Html.ActionLink("Buy Stock", "Purchase", "Stock", new { id = item.BankAccountID }, null) | @Html.ActionLink("Sell Stock", "Index", "PurchasedStocks", new { }, null)</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.lastFour)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                    <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                    <td>@Html.ActionLink("Details", "Details", "BankAccounts", new { id = item.BankAccountID }, null) | @Html.ActionLink("Edit Name", "Edit", "BankAccounts", new { id = item.BankAccountID }, null)</td>
                </tr>
            }

        }
    </table>
    }
    else{
        <p> You have no Accounts. Would you like to open an account?</p>
    }

</div>


