<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Longhorn Bank", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            @if (Request.IsAuthenticated && User.IsInRole("Customer"))
            {
                <div class="btn-group">
                    <div class="dropdown">
                        <button class="dropbtn">Manage Accounts</button>
                        <div class="dropdown-content">

                            <a href=@Url.Action("Edit","Customer")>Open a new Account</a>
                            <a href=@Url.Action("Edit","Customer")>Edit Account Details</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Transactions</button>
                        <div class="dropdown-content">
                            <a href=@Url.Action("Edit","Customer")>View Transactions</a>
                            <a href=@Url.Action("Edit","Customer")>Deposit Funds</a>
                            <a href=@Url.Action("Edit","Customer")>Transfer Funds</a>
                            <a href=@Url.Action("Edit","Customer")>Withdraw Funds</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Investments</button>
                        <div class="dropdown-content">
                            <a href=@Url.Action("Edit","Customer")>STOCKS</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Prasla, Bonner, Wondwossen</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>