@model PraslaBonnerWondwossenFinalProject.Models.StockPortfolio


@{
    ViewBag.Title = "Details";
}

<h2>Portfolio Details</h2>

<div>
    <h4>Current Performance</h4>
    <hr />
    <dl class="dl-horizontal">
        
       @if(Model.isBalanced == false)
       {
           <dd>Portfolio is not balanced</dd>
       }
       else
       {
           <dd>Portfolio is balanced</dd>
       }


        <dt>
            @Html.DisplayNameFor(model => model.Gains)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gains)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bonuses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bonuses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CashBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashBalance)
        </dd>

    </dl>

    <h4>Securities</h4>
    <hr />
        <table class="table table-bordered">
            <tr>
                <th>
                    Ticker
                </th>
                <th>
                    Security
                </th>
                <th>
                    Shares
                </th>
            </tr>
            @foreach (var item in Model.purchasedstocks)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.stock.Symbol)</td>
                    <td>@Html.DisplayFor(modelItem => item.stock.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Shares)</td>
                    <td>@Html.ActionLink("Details", "Details", "PurchasedStocks", new { id = item.PurchasedStockId })</td>
                </tr>
            }

            }
        </table>
</div>
<dt>
    Total Value
</dt>

<dt>
    @Html.DisplayFor(model => model.Balance)
</dt>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BankAccountID }) |
    @Html.ActionLink("Back to List", "Index","Customers")
</p>
