@model PraslaBonnerWondwossenFinalProject.Models.StockPortfolio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h2>@Html.DisplayFor(model)</h2>
    <h4>Cash Value</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isBalanced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isBalanced)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashBalance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BankAccountID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
